<%= form_with model: [patient, note], class: "space-y-4" do |f| %>
  <section>
    <%= f.label :poc, "Plan of care", class: "inline-block mb-2" %>
    <%= f.text_field :poc, class: "block w-full rounded-md border-gray-300", placeholder: "STG3 = short term goal #3" %>
  </section>

  <section class="divide-y space-y-5">
    <%= f.fields_for :practice_words do |word| %>
      <%= render "practice_words/repeater_field", f: word %>
    <% end %>
  </section>

  <button type="button" class="rounded-md py-2 px-3 bg-white border block w-full text-center font-semibold text-gray-700 hover:bg-gray-100">
    Add another practice word
  </button>

  <hr class="border-gray-400" />

  <div class="flex justify-end space-x-3">
    <%= link_to "Cancel", patients_path, class: "rounded-md py-2 px-3 bg-white border font-semibold text-gray-700 hover:bg-gray-100" %>
    <%= f.submit "Create note", class: "rounded-md py-2 px-3 bg-indigo-600 text-white hover:bg-indigo-500 font-semibold cursor-pointer" %>
  </div>
<% end %>
